@import 'vars';

@mixin layoutContent() {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

// Наследование:
%font-site {
    font-family: sans-serif;
    font-style: normal;
}


// Оформление сайта:
* {
    margin: 0;
    padding: 0;
}

.color-text {
    color: $colorText;
}

.nav {
    display: flex;
    gap: $gap;

    &__link {
        text-decoration: none;
        @extend %font-site;
    }
}

.content {
    @include layoutContent();
    width: $widthSite;
    display: flex;
    gap: $gap;

    &__item {
        width: $widthSite/4;
        height: 200px;
        border: $border;
    }
}