* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.center {
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
}

.box-content {
  overflow: hidden;
}

.header {
  position: relative;
  background-color: #222;
  padding: 20px 230px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.header__left {
  display: flex;
  align-items: center;
  gap: 41px;
}
.header__right {
  display: flex;
  align-items: center;
}
.header__right_profile {
  padding-left: 25px;
  padding-right: 42px;
}
#burger {
  position: absolute;
  left: -9999999px;
  visibility: hidden;
}
#burger:checked ~ .nav {
  right: -232px;
}
#burger:hover ~ .nav {
  display: block;
}

.nav {
  position: absolute;
  display: none;
  background-color: #FFFFFF;
  box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.2117647059);
  width: 232px;
  padding: 32px;
  box-sizing: border-box;
  top: 81px;
  right: 0;
  transition: right 0.3s;
}

.top-head {
  height: 148px;
  background-color: #F8F3F4;
  display: flex;
  align-items: center;
  padding-left: 230px;
}
.top-head__heading {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #f86478;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.registration {
  display: flex;
  width: 1140px;
  gap: 128px;
  padding: 64px 230px 96px 230px;
}
.registration__left {
  display: flex;
  flex-direction: column;
  width: 360px;
  row-gap: 20px;
}
.registration__left__form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 360px;
}
.registration__left__form_head {
  font-weight: 400;
  font-size: 16px;
  color: #222222;
}
.registration__left__form_textBox {
  max-width: 360px;
  height: 45px;
  border: 1px solid rgb(164, 164, 164);
  padding-left: 17px;
  outline: none;
}
.registration__left__form_textBox::-moz-placeholder {
  font-size: 13px;
  color: #B1B1B1;
}
.registration__left__form_textBox::placeholder {
  font-size: 13px;
  color: #B1B1B1;
}
.registration__left__form_genderItem {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 11px;
  padding-bottom: 13px;
}
.registration__left__form_genderItem_input {
  position: relative;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid #A4A4A4;
  border-radius: 50%;
  outline: none;
  vertical-align: middle;
  cursor: pointer;
}
.registration__left__form_genderItem_input:checked {
  border-color: #A4A4A4;
}
.registration__left__form_genderItem_input::before {
  position: absolute;
  content: "";
  display: block;
  width: 7px;
  height: 7px;
  background-color: #A4A4A4;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.2s;
}
.registration__left__form_genderItem_input:checked::before {
  transform: translate(-50%, -50%) scale(1);
}
.registration__left__form_genderItem_text {
  font-weight: 400;
  font-size: 11px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;
  padding-right: 10px;
}
.registration__left__form_instructions {
  margin-top: -10px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}
.registration__left__form__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 167px;
  height: 50px;
  background-color: rgb(241, 109, 127);
  border: none;
  gap: 20px;
}
.registration__left__form__button:hover {
  border: 2px solid rgb(117, 116, 116);
}
.registration__left__form__button_text {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #FFFFFF;
}
.registration__right {
  display: flex;
  flex-direction: column;
  width: 652px;
  row-gap: 20px;
}
.registration__right__text {
  font-weight: 400;
  font-size: 24px;
  font-style: normal;
  color: #000000;
}
.registration__right__ul {
  list-style: none;
  padding-left: 22px;
}
.registration__right__li {
  position: relative;
  margin-bottom: 16px;
  padding-left: 22px;
}
.registration__right__li::before {
  content: "";
  position: absolute;
  left: -22px;
  top: 55%;
  transform: translateY(-50%);
  width: 20px;
  height: 16px;
  background-image: url(img/characters/Vector.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.footer {
  display: flex;
  flex-direction: column;
}
.footer__subscribe {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 448px;
  background-image: linear-gradient(rgba(244, 244, 244, 0.7)), url(img/footer/subscribe_background.png);
  background-size: cover;
  background-position: center;
}
.footer__subscribe__image {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  border: 2px solid transparent;
}
.footer__subscribe__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.footer__subscribe__left__text {
  width: 359px;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: rgb(34, 34, 36);
  color: #222224;
}
.footer__subscribe__right {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.footer__subscribe__right__text {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
}
.footer__subscribe__right__text-head {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
}
.footer__subscribe__right__form {
  display: flex;
  display: inline-flex;
}
.footer__subscribe__right__form_email {
  width: 256px;
  height: 49px;
  background-color: #E1E1E1;
  border: 0;
  border-radius: 50px 0 0 50px;
  outline: none;
  padding-left: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  vertical-align: middle;
}
.footer__subscribe__right__form_email::-moz-placeholder {
  color: #222224;
}
.footer__subscribe__right__form_email::placeholder {
  color: #222224;
}
.footer__subscribe__right__form_button {
  width: 100px;
  height: 49px;
  background-color: #F16D7F;
  border: 0;
  border-radius: 0 50px 50px 0;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #FFFFFF;
}
.footer__subscribe__right__form_button:hover {
  border: 1px solid rgb(117, 116, 116);
}
.footer__copyright {
  height: 79px;
  background-color: #222;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer__copyright__left {
  display: flex;
  align-items: center;
  padding-left: 14.4%;
}
.footer__copyright__right {
  display: flex;
  align-items: center;
  padding-right: 14.4%;
  gap: 7px;
}
.footer__copyright_text {
  font-style: normal;
  color: #FBFBFB;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
}
.footer__copyright__box {
  width: 32px;
  height: 32px;
  background-color: #FFFFFF;
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.footer__copyright__box_SocialIcon {
  max-width: 16px;
  max-height: 16px;
  transition: 0.3s;
}
.footer__copyright__box_SocialIcon:hover {
  opacity: 0.7;
}/*# sourceMappingURL=style.css.map */