@import 'vars';
@import 'mixins';

// Оформление сайта:
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.center {
    padding-left: calc(50% - $widthSite / 2);
    padding-right: calc(50% - $widthSite / 2);
}

.box-content {
    overflow: hidden;
}


.header {
    position: relative;
    background-color: $backBlock;
    padding: 20px 230px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

    &__left {
        display: flex;
        align-items: center;
        gap: 41px;
    }

    &__right {
        display: flex;
        align-items: center;

        &_profile {
            padding-left: 25px;
            padding-right: 42px;
        }

        &_basket {}
    }
}


#burger {
    position: absolute;
    left: -9999999px;
    visibility: hidden;


    &:checked~.nav {
        // display: none;
        right: -$widthBurgerMenu;
    }

    &:hover~.nav {
        display: block;
    }
}


.nav {
    position: absolute;
    display: none;
    background-color: #FFFFFF;
    box-shadow: 6px 4px 35px 0px #00000036;
    width: 232px;
    padding: 32px;
    box-sizing: border-box;
    top: 81px;
    right: 0;
    transition: right .3s;


}


.top-head {
    height: $heightTopHead;
    background-color: #F8F3F4;
    display: flex;
    align-items: center;
    padding-left: $marginEdgeLeft;


    &__heading {
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: $colorSelectSite;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}


.registration {
    display: flex;
    width: 1140px;
    gap: 128px;

    padding: $marginRegistEdgeTop $marginRegistEdgeRight $marginRegistEdgeBottom $marginRegistEdgeLeft;

    &__left {
        display: flex;
        flex-direction: column;
        width: 360px;
        row-gap: 20px;

        &__form {
            display: flex;
            flex-direction: column;
            row-gap: 20px;
            width: 360px;

            &_head {
                font-weight: 400;
                font-size: 16px;
                color: #222222;
            }

            &_textBox {
                max-width: 360px;
                height: 45px;
                border: 1px solid rgba(164, 164, 164, 1);
                padding-left: 17px;
                outline: none;

                &::placeholder {
                    font-size: 13px;
                    color: #B1B1B1;
                }
            }

            &_genderItem {
                display: flex;
                align-items: center;
                gap: 10px;
                padding-top: 11px;
                padding-bottom: 13px;

                &_input {
                    position: relative;
                    appearance: none;
                    -webkit-appearance: none;
                    width: 16px;
                    height: 16px;
                    border: 1px solid #A4A4A4;
                    border-radius: 50%;
                    outline: none;
                    vertical-align: middle;
                    cursor: pointer;


                    &:checked {
                        border-color: #A4A4A4;
                    }

                    &::before {
                        position: absolute;
                        content: "";
                        display: block;
                        width: 7px;
                        height: 7px;
                        background-color: #A4A4A4;
                        border-radius: 50%;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%) scale(0);
                        transition: transform 0.2s;
                    }

                    &:checked::before {
                        transform: translate(-50%, -50%) scale(1);
                    }
                }

                &_text {
                    font-weight: 400;
                    font-size: 11px;
                    line-height: 100%;
                    letter-spacing: 0%;
                    color: #000000;
                    padding-right: 10px;
                }
            }

            &_instructions {
                margin-top: -10px;
                font-style: normal;
                font-weight: 400;
                font-size: 13px;
                line-height: 16px;
                color: #B1B1B1;
            }

            &__button {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 167px;
                height: 50px;
                background-color: rgba(241, 109, 127, 1);
                border: none;
                gap: 20px;

                &:hover {
                    border: 2px solid rgb(117, 116, 116);
                }

                &_text {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 100%;
                    color: #FFFFFF;
                }
            }
        }

    }


    &__right {
        display: flex;
        flex-direction: column;
        width: 652px;
        row-gap: 20px;

        &__text {
            font-weight: 400;
            font-size: 24px;
            font-style: normal;
            color: #000000;
        }

        &__ul {
            list-style: none;
            padding-left: 22px;
        }

        &__li {
            position: relative;
            margin-bottom: 16px;
            padding-left: 22px;
        }

        &__li::before {
            content: "";
            position: absolute;
            left: -22px;
            top: 55%;
            transform: translateY(-50%);
            width: 20px;
            height: 16px;
            background-image: url(img/characters/Vector.svg);
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
}


.footer {
    display: flex;
    flex-direction: column;

    &__subscribe {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: $heightFooterSubscribe;
        background-image:
            linear-gradient(rgba(244, 244, 244, 0.7)),
            url(img/footer/subscribe_background.png);
        background-size: cover;
        background-position: center;

        &__image {
            width: 96px;
            height: 96px;
            border-radius: 50%;
            border: 2px solid transparent;
        }

        &__left {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: $gapGrid;

            &__text {
                width: 359px;
                font-weight: 400;
                font-size: 20px;
                text-align: center;
                color: rgba(34, 34, 36, 1);
                color: #222224;
            }
        }

        &__right {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: $gapGrid;

            &__text {
                &-head {
                    font-weight: 700;
                    font-size: 24px;
                    text-align: center;
                }

                font-weight: 400;
                font-size: 18px;
                text-align: center;
            }

            &__form {
                display: flex;
                display: inline-flex;

                &_email {
                    width: 256px;
                    height: 49px;
                    background-color: #E1E1E1;
                    border: 0;
                    border-radius: 50px 0 0 50px;
                    outline: none;
                    padding-left: 20px;

                    font-weight: 400;
                    font-size: 14px;
                    line-height: 100%;
                    vertical-align: middle;

                    &::placeholder {
                        color: #222224;
                    }
                }

                &_button {
                    width: 100px;
                    height: 49px;
                    background-color: #F16D7F;
                    border: 0;
                    border-radius: 0 50px 50px 0;

                    font-weight: 400;
                    font-size: 14px;
                    text-align: center;
                    color: #FFFFFF;

                    &:hover {
                        border: 1px solid rgb(117, 116, 116);
                    }
                }
            }
        }
    }

    &__copyright {
        height: $heightFooterCopyright;
        background-color: $backBlock;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &__left {
            display: flex;
            align-items: center;
            padding-left: 14.4%;
        }

        &__right {
            display: flex;
            align-items: center;
            padding-right: 14.4%;
            gap: 7px;
        }

        &_text {
            font-style: normal;
            color: #FBFBFB;
            font-weight: 400;
            font-size: 16px;
            line-height: 100%;

        }

        &__box {
            width: 32px;
            height: 32px;
            background-color: #FFFFFF;
            align-content: center;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            &_SocialIcon {
                max-width: 16px;
                max-height: 16px;
                transition: 0.3s;

                &:hover {
                    opacity: 0.7;
                }
            }
        }

    }


}