<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Table page</title>
</head>
<body>
<h1>Table</h1><br>
<table>
    <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Age</th>
        <th>Company</th>
    </tr>
    <tr th:each="person : ${people}">
                <td th:text="${person.getFirstName()}"></td>
                <td th:text="${person.getLastName()}"></td>
                <td th:text="${person.getAge()}"></td>
                <td th:text="${person.getCompany()}"></td>
    </tr>


<!--    <tr>-->
<!--        <td>1</td>-->
<!--        <td>2</td>-->
<!--        <td>30</td>-->
<!--        <td>GeekBrains</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <td>1</td>-->
<!--        <td>2</td>-->
<!--        <td>20</td>-->
<!--        <td>GeekBrains</td>-->
<!--    </tr>-->
</table>
</body>
</html>