@import 'vars';


// Оформление сайта:
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lato", sans-serif;
}

// Оформление стилистики к заданию № 1
// summary::marker {
//     content: none;
// }

// details[open] summary::before {
//     transform: rotate(90deg);
// }

// summary::before {
//     content: '\2192';
//     transition: transform 0.2s ease;
// }

// summary {
//     display: flex;
//     align-items: center;
//     gap: 11px;
//     padding: 10px 10px 10px;
//     color: #c71818;
// }

// .nav {
//     display: flex;
//     gap: $gap;

//     &__link {
//         text-decoration: none;
//         @extend %font-site;
//     }
// }

// Оформление стилистики к заданию № 2
summary::marker {
    content: none;
}

summary {
    display: block;
}

.sort {
    // position: absolute;    
    display: flex;
    gap: 28px;
    margin-top: 20px;
    justify-content: center;

    &__details {
        position: relative;

    }

    &__heading {
        font: normal;
        font-weight: 400;
        font-size: 14px;
        color: #6F6E6E;
    }

    &__summary {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    &__box {
        position: absolute;
        background: #FFFFFF;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
        padding: 7px 30px 0px 9px;
        margin-left: -9px;
        margin-top: 5px;
    }

    &__check {
        display: flex;
        gap: 9px;
        font-family: Roboto;
        font-weight: 400;
        font-size: 14px;
        color: #6F6E6E;
        padding-bottom: 7px;
    }

}


// Оформление стилистики к заданию № 3
.header {
    position: relative;
    background-color: $backBlock;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

    &__left {
        display: flex;
        align-items: center;
        margin-left: 10%;

    }

    &__right {
        display: flex;
        align-items: center;
        margin-right: 10%;
    }

}

#burger {
    position: absolute;
    left: -9999999px;
    visibility: hidden;

    &:checked~.nav {
        right: -$widthBurgerMenu;
    }
}

.nav {
    position: absolute;
    background: #FFFFFF;
    box-shadow: 6px 4px 35px 0px #00000036;
    width: 232px;
    padding: 32px;
    box-sizing: border-box;
    top: 81px;
    right: 0;
    transition: right .3s;
}