* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Lato";
}

.center {
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
}

.box-content {
  overflow: hidden;
}

.header {
  position: relative;
  background-color: #222;
  padding: 20px 14.4%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.header__left {
  display: flex;
  align-items: center;
  gap: 41px;
}
.header__right {
  display: flex;
  align-items: center;
}
.header__right_profile {
  padding-left: 25px;
  padding-right: 42px;
}
#burger {
  position: absolute;
  left: -9999999px;
  visibility: hidden;
}
#burger:checked ~ .nav {
  right: -232px;
}
#burger:hover ~ .nav {
  display: block;
}

.nav {
  position: absolute;
  display: none;
  background: #FFFFFF;
  box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.2117647059);
  width: 232px;
  padding: 32px;
  box-sizing: border-box;
  top: 81px;
  right: 0;
  transition: right 0.3s;
}

.top-head {
  background: #F8F3F4;
  padding: 2% 14.4%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top-head__heading {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #f86478;
}

.breadcrumbs {
  display: flex;
}
.breadcrumbs__content:not(:last-child)::after {
  content: " /";
  margin-left: 6px;
  margin-right: 6px;
}
.breadcrumbs__link {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}
.breadcrumbs__link:last-child {
  font-weight: 700;
  color: #f86478;
}

.product {
  width: 360px;
  display: flex;
  flex-direction: column;
}
.product__img {
  width: 360px;
}
.product-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 4.4% 14.4%;
}
.product__content {
  background-color: #F8F8F8;
  padding: 24px 28px 20px 16px;
  display: flex;
  flex-direction: column;
}
.product__name {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  color: #000;
  padding-bottom: 12px;
}
.product__text {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  color: #5d5d5d;
  padding-bottom: 18px;
}
.product__price {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #f86478;
}

.footer {
  display: flex;
  flex-direction: column;
}
.footer__subscribe {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 448px;
  background-image: linear-gradient(rgba(244, 244, 244, 0.7)), url(img/footer/subscribe_background.png);
  background-size: cover;
  background-position: center;
}
.footer__subscribe__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.footer__subscribe__left__text {
  width: 359px;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: rgb(34, 34, 36);
  color: #222224;
}
.footer__subscribe__right {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.footer__subscribe__right__text {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
}
.footer__subscribe__right__text-head {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
}
.footer__subscribe__image {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  border: 2px solid transparent;
}
.footer__copyright {
  height: 79px;
  background: #222;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer__copyright__left {
  display: flex;
  align-items: center;
  padding-left: 14.4%;
}
.footer__copyright__right {
  display: flex;
  align-items: center;
  padding-right: 14.4%;
  gap: 7px;
}
.footer__copyright_text {
  font-style: normal;
  color: #FBFBFB;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
}
.footer__copyright_box {
  width: 32px;
  height: 32px;
  background: #FFFFFF;
  overflow: hidden;
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}/*# sourceMappingURL=style.css.map */