@charset "UTF-8";
/*  *****  Отступы (gap) *****  */
/*  *****  Ширина  ****  */
/*  *****  Ширина для MEDIA (от 768 по 1024)  ****  */
/*  *****  Ширина для MEDIA (до 768)  ****  */
/*  *****  Высота  ***** */
/*  *****  Высота для MEDIA (от 768 по 1024)  ****  */
/*  *****  Высота для MEDIA (до 768)  ****  */
/* *****  Отступы (margin) *****  */
/* *****  Отступы для MEDIA (margin) *****  */
/* *****  Цвет *****  */
/* Глобальные настройки сайта */
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.center {
  padding-left: calc(50% - 50vw);
  padding-right: calc(50% - 50vw);
}

.box-content {
  overflow: hidden;
}

/* Раздел "Header". Навигация по сайту. Размещено на ВСЕХ страницах сайта*/
.header {
  position: relative;
  background-color: #222;
  padding: 20px 230px;
  display: flex;
  justify-content: space-between;
}
.header__left {
  display: flex;
  align-items: center;
  gap: 41px;
}
.header__right {
  display: flex;
  align-items: center;
}
.header__right_profile {
  padding-left: 25px;
  padding-right: 42px;
}
.header__right_basket {
  position: relative;
  display: inline-block;
}
.header__right_basket-count {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #F16D7F;
  color: #FFFFFF;
  border-radius: 50%;
  width: 19px;
  height: 19px;
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
}

/* Раздел "Header". Навигация по сайту (меню "Бургер"). Размещено на ВСЕХ страницах сайта*/
#burger {
  position: absolute;
  left: -9999999px;
  visibility: hidden;
}
#burger:checked ~ .burger__nav {
  right: -232px;
}

.burger__nav {
  position: absolute;
  background-color: #FFFFFF;
  box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.2117647059);
  width: 232px;
  padding: 37px 0 0 34px;
  box-sizing: border-box;
  top: 81px;
  right: 0;
  transition: right 0.3s;
  z-index: 1;
}
.burger__nav_ul {
  position: relative;
  padding-left: 22px;
  padding-bottom: 12px;
}
.burger__nav_ul_title {
  font-weight: 700;
  font-size: 14px;
  color: #000000;
  padding-bottom: 24px;
}
.burger__nav_ul_closeBtn {
  position: absolute;
  background-color: rgba(111, 110, 110, 0);
  border: none;
  top: -32px;
  right: 16px;
  font-size: 30px;
  color: #6F6E6E;
}
.burger__nav_ul_closeBtn:hover {
  color: #F16D7F;
}
.burger__nav_li {
  list-style-type: none;
  padding-bottom: 10px;
}
.burger__nav_link_title {
  list-style-type: none;
  font-size: 14px;
  color: #F16D7F;
}
.burger__nav_link_subtitle {
  font-size: 14px;
  color: #6F6E6E;
  padding-bottom: 12px;
}

/* Дополнительный раздел "Header". 
Оформление дополнительного раздела навигации по сайту
Размещено на всех страницах сайта, КРОМЕ главной */
.top-head {
  height: 148px;
  background-color: #F8F3F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 230px;
  padding-right: 230px;
}
.top-head__heading {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #f86478;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.breadcrumbs {
  display: flex;
}
.breadcrumbs__content:not(:last-child)::after {
  content: " /";
  margin-left: 6px;
  margin-right: 6px;
}
.breadcrumbs__link {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}
.breadcrumbs__link:last-child {
  font-weight: 700;
  color: #f86478;
}

/* Дополнительный раздел "Header". 
Оформление шапки сайта на главной странице */
.headerHomePage {
  display: flex;
  height: 764px;
  width: 100vw;
  background-color: #F1E4E6;
  align-items: center;
}
.headerHomePage__img {
  height: 764px;
}
.headerHomePage__verticalLine {
  border-left: 12px solid #F16D7F;
  height: 92px;
  margin: 0 16px 0 64px;
}
.headerHomePage__text_title {
  font-weight: 900;
  font-size: 48px;
  line-height: 100%;
  white-space: nowrap;
}
.headerHomePage__text_subtitle {
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  white-space: nowrap;
}
.headerHomePage__text_subtitle-special {
  color: #f86478;
}

/* Дополнительный раздел "Offer". 
Размещено только на главной странице сайта */
.offer {
  display: grid;
  grid-template-columns: repeat(3, 360px);
  justify-content: center;
  gap: 30px;
  padding: 63px 0 96px 0;
}
.offer__container {
  display: grid;
  grid-template-areas: "stack";
}
.offer__container > * {
  grid-area: stack;
}
.offer__container:last-child {
  grid-row: 2/span 3;
}
.offer__container:last-child img {
  width: 1142px;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
}
.offer__container__img {
  width: 360px;
  height: 260px;
  -o-object-fit: contain;
     object-fit: contain;
}
.offer__container__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(33, 22, 22, 0.7);
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
.offer__container__text_special {
  font-weight: 700;
  font-size: 24px;
  color: #F16D7F;
}

/* Оформление меню "FILTER". 
Размещено на всех страницах сайта, КРОМЕ главной :*/
.filter {
  padding: 13px 16px 16px;
  width: 360px;
  position: absolute;
  top: 39px;
  left: 230px;
  box-sizing: border-box;
}
.filter[open] {
  width: 380px;
  background: #FFFFFF;
  border: 1px solid #EBEBEB;
  box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.2117647059);
}
.filter[open] .filter__heading {
  color: #f86478;
}
.filter__heading {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}
.filter__subheading {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  padding: 8px 11px 11px 11px;
  border-bottom: 1px solid #EBEBEB;
  border-left: 5px solid #f86478;
}
.filter__item[open] .filter__subheading {
  color: #f86478;
}
.filter__summary {
  display: flex;
  align-items: center;
  gap: 11px;
}
.filter-sort {
  height: 132px;
  position: relative;
  display: flex;
  gap: 30px;
}
.filter[open] path {
  fill: #f86478;
}
.filter__item {
  margin-top: 16px;
}
.filter__link {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0%;
  color: #6F6E6E;
}
.filter__link:hover {
  color: #f86478;
}
.filter__link-box {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding: 24px 16px;
}

/* Оформление меню "TRENDING NOW", "SIZE", "PRICE". 
Размещено на всех страницах сайта, КРОМЕ главной:*/
.sort {
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 28px;
  left: 632.5px;
  top: 51px;
}
.sort__details {
  position: relative;
}
.sort__heading {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  white-space: nowrap;
  color: #6F6E6E;
}
.sort__summary {
  display: flex;
  gap: 10px;
  align-items: center;
}
.sort__box {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: absolute;
  background: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 7px 30px 11px 9px;
  left: -9px;
  top: 20px;
}
.sort__check {
  display: flex;
  gap: 9px;
  align-items: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #6F6E6E;
}

/* Оформление страницы "Index" */
.productIndex {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.productIndex-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 48px;
}
.productIndex-title-head {
  font-weight: 400;
  font-size: 30px;
  color: #222222;
}
.productIndex-title-text {
  font-weight: 400;
  font-size: 14px;
  color: #9F9F9F;
}
.productIndex__img {
  width: 360px;
}
.productIndex__img_blackout {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  background-color: rgba(58, 56, 56, 0.86);
  opacity: 0;
  transition: 0.3s;
  width: 360px;
  height: 420px;
}
.productIndex__img_blackout_button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11px;
  width: 139px;
  height: 44px;
  border: 1px solid #FFFFFF;
  background-color: rgba(255, 255, 255, 0);
}
.productIndex__img_blackout_button_text {
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
}
.productIndex__img_blackout_button_text:hover {
  text-decoration: underline;
  color: #FFFFFF;
}
.productIndex__img_blackout:hover {
  opacity: 1;
}
.productIndex-box {
  display: grid;
  grid-template-columns: repeat(3, 360px);
  min-width: 360px;
  gap: 30px;
  padding: 0 230px 48px 230px;
  justify-content: center;
}
.productIndex__content {
  background-color: #F8F8F8;
  padding: 24px 28px 20px 16px;
  display: flex;
  flex-direction: column;
}
.productIndex__name {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  color: #000;
  padding-bottom: 12px;
}
.productIndex__text {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  color: #5d5d5d;
  padding-bottom: 18px;
}
.productIndex__price {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #f86478;
}
.productIndex-button {
  display: flex;
  justify-content: center;
  padding-bottom: 95px;
}
.productIndex-button-form {
  width: 212px;
  height: 48px;
  border: 1px solid #FF6A6A;
  background-color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #F26376;
}
.productIndex-button-form:hover {
  background-color: #FF6A6A;
  color: #FFFFFF;
  transition: background-color 0.3s ease;
}

/* Оформление страницы "Catalog" */
.productCatalog {
  width: 360px;
}
.productCatalog__img {
  width: 360px;
}
.productCatalog-box {
  display: grid;
  grid-template-columns: repeat(3, 360px);
  min-width: 360px;
  gap: 30px;
  padding: 0 230px 48px 230px;
  justify-content: center;
  padding-bottom: 48px;
}
.productCatalog__pages {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 96px;
}
.productCatalog__content {
  background-color: #F8F8F8;
  padding: 24px 28px 20px 16px;
  display: flex;
  flex-direction: column;
}
.productCatalog__name {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  color: #000;
  padding-bottom: 12px;
}
.productCatalog__text {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  color: #5d5d5d;
  padding-bottom: 18px;
}
.productCatalog__price {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #f86478;
}

/* Оформление страницы "Product" */
.productProduct {
  width: 360px;
}
.productProduct-boxTop {
  position: relative;
  display: grid;
  grid-template-areas: "scroll";
  grid-template-columns: repeat(1, 1600px);
  grid-template-rows: repeat(1, 777px);
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding-bottom: 664px;
}
.productProduct-boxTop > * {
  grid-area: scroll;
}
.productProduct-boxTop-img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 51%;
     object-position: 51%;
}
.productProduct-boxTop-scroll {
  display: flex;
  justify-content: space-between;
  z-index: 1;
}
.productProduct-boxTop-scroll_button {
  width: 47px;
  height: 47px;
  background-color: rgba(42, 42, 42, 0.15);
  background-image: url(img/Vector/Scroll_Black.png);
  background-repeat: no-repeat;
  background-position: center;
  transition: background-image 0.3s;
  border: none;
}
.productProduct-boxTop-scroll_button_right {
  transform: rotate(180deg);
}
.productProduct-boxTop-scroll_button:hover {
  background-image: url(img/Vector/Scroll_Color.png);
}
.productProduct-boxCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 1141px;
  height: 601px;
  top: 912px;
  left: calc((100% - 1141px) / 2);
  right: calc((100% - 1141px) / 2);
  border: 1px solid rgb(234, 234, 234);
  background-color: #FFFFFF;
  z-index: 2;
}
.productProduct-boxCenter__subtitle {
  font-weight: 400;
  font-size: 14px;
  color: #F16D7F;
  margin-bottom: 12px;
}
.productProduct-boxCenter__hr-title {
  width: 63px;
  height: 3px;
  border: none;
  background-color: #EF5B70;
  margin-bottom: 12px;
}
.productProduct-boxCenter__title {
  font-weight: 400;
  font-size: 18px;
  color: #4D4D4D;
  margin-bottom: 48px;
}
.productProduct-boxCenter__text {
  width: 555px;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #5E5E5E;
  margin-bottom: 32px;
}
.productProduct-boxCenter__price {
  font-weight: 400;
  font-size: 24px;
  color: #EF5B70;
  margin-bottom: 65px;
}
.productProduct-boxCenter__hr-text {
  width: 642px;
  height: 1px;
  border: 0.1px solid rgba(239, 91, 112, 0.05);
  background-color: rgb(234, 234, 234);
  margin-bottom: 65px;
}
.productProduct-boxCenter__menu {
  display: flex;
  gap: 22px;
  margin-bottom: 48px;
}
.productProduct-boxCenter__menu_details {
  position: relative;
}
.productProduct-boxCenter__menu_summary {
  display: flex;
  gap: 9px;
  align-items: center;
}
.productProduct-boxCenter__menu_title {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  white-space: nowrap;
  color: #6F6E6E;
}
.productProduct-boxCenter__button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22px;
  padding: 15px 57px 9px 24px;
  border: 1px solid #FF6A6A;
  background-color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  color: #EF5B70;
}
.productProduct-boxCenter__button:hover {
  text-decoration: underline;
}
.productProduct-boxBottom {
  display: grid;
  grid-template-columns: repeat(3, 360px);
  min-width: 360px;
  gap: 30px;
  padding: 0 230px 48px 230px;
  justify-content: center;
  padding-bottom: 128px;
}
.productProduct-boxBottom__img {
  width: 360px;
}
.productProduct-boxBottom__content {
  background-color: #F8F8F8;
  padding: 24px 28px 20px 16px;
  display: flex;
  flex-direction: column;
}
.productProduct-boxBottom__name {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  color: #000;
  padding-bottom: 12px;
}
.productProduct-boxBottom__text {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  color: #5d5d5d;
  padding-bottom: 18px;
}
.productProduct-boxBottom__price {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #f86478;
}

/* Оформление страницы "SHOPPING CART" */
.shopping {
  width: 360px;
  display: flex;
  padding: 96px 230px 128px 230px;
}
.shopping__left__img {
  width: 262px;
}
.shopping__left__box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 652px;
  height: 306px;
  background-color: rgb(255, 255, 255);
  border: 0px solid rgb(234, 234, 234);
  box-shadow: 17px 19px 24px 0px rgba(0, 0, 0, 0.13);
  margin-bottom: 40px;
}
.shopping__left__content {
  padding: 22px 97px 62px 31px;
  display: flex;
  flex-direction: column;
  height: 222px;
  width: 262px;
}
.shopping__left__content-head {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #222222;
  -webkit-hyphens: none;
          hyphens: none;
  padding-bottom: 42px;
}
.shopping__left__content-head:hover {
  text-decoration: underline;
}
.shopping__left__content-text {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  color: #5d5d5d;
  padding-bottom: 6px;
}
.shopping__left__content-price {
  color: #f86478;
}
.shopping__left__content-quantityBox {
  display: inline-block;
  height: 22px;
  width: 42px;
  text-align: center;
  border: 1px solid rgb(234, 234, 234);
  margin-left: 26px;
  font-weight: 400;
  font-size: 18px;
  color: #656565;
  outline: none;
}
.shopping__left__buttons {
  display: flex;
  gap: 192px;
  align-items: center;
  justify-content: center;
  margin-top: 72px;
}
.shopping__left__buttons_button {
  display: flex;
  height: 50px;
  border: 1px solid rgb(164, 164, 164);
}
.shopping__left__buttons_text {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #000000;
  padding: 17px 39px 16px 37px;
  white-space: nowrap;
}
.shopping__left__buttons_text:hover {
  background-color: #F5F3F3;
}
.shopping__right__shippingAddress {
  display: flex;
  flex-direction: column;
  margin-left: 128px;
  width: 360px;
  height: 272px;
  row-gap: 20px;
}
.shopping__right__shippingAddress_head {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  white-space: nowrap;
  color: rgb(34, 34, 34);
}
.shopping__right__shippingAddress__form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.shopping__right__shippingAddress__form_textBox {
  max-width: 360px;
  height: 45px;
  border: 1px solid rgb(164, 164, 164);
  padding-left: 17px;
  outline: none;
}
.shopping__right__shippingAddress__form_textBox::-moz-placeholder {
  color: #B1B1B1;
}
.shopping__right__shippingAddress__form_textBox::placeholder {
  color: #B1B1B1;
}
.shopping__right__shippingAddress__button {
  display: flex;
  width: 107px;
  border: 1px solid rgb(164, 164, 164);
  background-color: #fff;
}
.shopping__right__shippingAddress__button_text {
  font-weight: 400;
  font-size: 11px;
  color: #4A4A4A;
  padding: 10px 14px;
  white-space: nowrap;
}
.shopping__right__shippingAddress__button_text:hover {
  background-color: #F5F3F3;
}
.shopping__right__checkoutBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 128px;
  margin-top: 57px;
  max-width: 360px;
  max-height: 214px;
  background-color: rgb(245, 243, 243);
  padding: 39px 34px 42px 44px;
}
.shopping__right__checkoutBox_subTotal {
  font-weight: 400;
  font-size: 11px;
  line-height: 100%;
  color: #4A4A4A;
  text-align: right;
}
.shopping__right__checkoutBox_grandTotal {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #222222;
  text-align: right;
  padding: 12px 0px 21px 0px;
}
.shopping__right__checkoutBox_text-padding {
  padding-left: 30px;
}
.shopping__right__checkoutBox_text {
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  color: #f86478;
}
.shopping__right__checkoutBox_button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 273px;
  height: 50px;
  background-color: rgb(241, 109, 127);
  border: none;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
.shopping__right__checkoutBox_button:hover {
  border: 1px solid rgb(117, 116, 116);
}

.close-btn {
  position: absolute;
  top: 28px;
  right: 22px;
}
.close-btn:hover path {
  fill: #f86478;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

/* Оформление страницы "Registration" */
.registration {
  display: flex;
  gap: 128px;
  padding: 64px 230px 96px 230px;
}
.registration__left {
  display: flex;
  flex-direction: column;
  width: 360px;
  row-gap: 20px;
}
.registration__left__form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 360px;
}
.registration__left__form_head {
  font-weight: 400;
  font-size: 16px;
  color: #222222;
}
.registration__left__form_textBox {
  max-width: 360px;
  height: 45px;
  border: 1px solid rgb(164, 164, 164);
  padding-left: 17px;
  outline: none;
}
.registration__left__form_textBox::-moz-placeholder {
  font-size: 13px;
  color: #B1B1B1;
}
.registration__left__form_textBox::placeholder {
  font-size: 13px;
  color: #B1B1B1;
}
.registration__left__form_genderItem {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 11px;
  padding-bottom: 13px;
}
.registration__left__form_genderItem_input {
  position: relative;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid #A4A4A4;
  border-radius: 50%;
  outline: none;
  vertical-align: middle;
  cursor: pointer;
}
.registration__left__form_genderItem_input:checked {
  border-color: #A4A4A4;
}
.registration__left__form_genderItem_input::before {
  position: absolute;
  content: "";
  display: block;
  width: 7px;
  height: 7px;
  background-color: #A4A4A4;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.2s;
}
.registration__left__form_genderItem_input:checked::before {
  transform: translate(-50%, -50%) scale(1);
}
.registration__left__form_genderItem_text {
  font-weight: 400;
  font-size: 11px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;
  padding-right: 10px;
}
.registration__left__form_instructions {
  margin-top: -10px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}
.registration__left__form__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 167px;
  height: 50px;
  background-color: rgb(241, 109, 127);
  border: none;
  gap: 20px;
}
.registration__left__form__button:hover {
  text-decoration: underline;
  color: #FFFFFF;
}
.registration__left__form__button_text {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #FFFFFF;
}
.registration__right {
  display: flex;
  flex-direction: column;
  width: 652px;
  row-gap: 21px;
}
.registration__right__head {
  font-weight: 400;
  font-size: 24px;
  color: #000000;
  padding-bottom: 1px;
}
.registration__right__text {
  min-width: 300px;
  font-size: 24px;
  color: #000000;
}
.registration__right__ul {
  list-style: none;
  padding-left: 22px;
}
.registration__right__li {
  position: relative;
  margin-bottom: 16px;
  padding-left: 20px;
}
.registration__right__li::before {
  content: "";
  position: absolute;
  left: -22px;
  top: 55%;
  transform: translateY(-50%);
  width: 20px;
  height: 16px;
  background-image: url(img/characters/Vector.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

/* Дополнительный раздел "Footer". Размещено на Главной странице сайта и странице Каталога*/
.footerBox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 341px;
  background-color: #222224;
  gap: 30px;
}
.footerBox__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 360px;
  height: 134px;
}
.footerBox__info_head {
  font-weight: 400;
  font-size: 20px;
  color: #FBFBFB;
}
.footerBox__info_text {
  text-align: center;
  font-weight: 300;
  font-size: 14px;
  color: #FBFBFB;
}

/* Раздел "Footer". 
Размещено на ВСЕХ страницах сайта*/
.footer {
  display: flex;
  flex-direction: column;
}
.footer__subscribe {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 448px;
  background-image: linear-gradient(rgba(244, 244, 244, 0.7)), url(img/footer/subscribe_background.png);
  background-size: cover;
  background-position: center;
}
.footer__subscribe__image {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  border: 2px solid transparent;
}
.footer__subscribe__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.footer__subscribe__left__text {
  width: 359px;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: rgb(34, 34, 36);
  color: #222224;
}
.footer__subscribe__right {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.footer__subscribe__right__text {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
}
.footer__subscribe__right__text-head {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
}
.footer__subscribe__right__form {
  display: flex;
  display: inline-flex;
}
.footer__subscribe__right__form_email {
  width: 256px;
  height: 49px;
  background-color: #E1E1E1;
  border: 0;
  border-radius: 50px 0 0 50px;
  outline: none;
  padding-left: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  vertical-align: middle;
}
.footer__subscribe__right__form_email::-moz-placeholder {
  color: #222224;
}
.footer__subscribe__right__form_email::placeholder {
  color: #222224;
}
.footer__subscribe__right__form_button {
  width: 100px;
  height: 49px;
  background-color: #F16D7F;
  border: 0;
  border-radius: 0 50px 50px 0;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #FFFFFF;
}
.footer__subscribe__right__form_button:hover {
  text-decoration: underline;
}
.footer__copyright {
  height: 79px;
  background-color: #222;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 230px;
  padding-right: 230px;
}
.footer__copyright__left {
  display: flex;
  align-items: center;
}
.footer__copyright__right {
  display: flex;
  align-items: center;
  gap: 7px;
}
.footer__copyright_text {
  font-style: normal;
  color: #FBFBFB;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
}
.footer__copyright__box {
  position: relative;
  width: 32px;
  height: 32px;
  background-color: #FFFFFF;
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.footer__copyright__box-instagram {
  background-color: #F16D7F;
}
.footer__copyright__box_SocialIcon {
  max-width: 16px;
  max-height: 16px;
  transition: 0.3s;
}
.footer__copyright__box_SocialIcon:hover {
  opacity: 0.7;
}
.footer__copyright__box_SocialIcon-instagram {
  width: 15px;
  height: 17px;
  transition: 0.3s;
  padding: 9px 8px 6px 7px;
}
.footer__copyright__box_SocialIcon-instagram:hover {
  opacity: 0.7;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .header {
    padding: 18px 32px;
  }
  /* Дополнительный раздел "Header". 
  Оформление шапки сайта на главной странице */
  .headerHomePage {
    height: 368px;
  }
  .headerHomePage__img {
    height: 368px;
  }
  .headerHomePage__verticalLine {
    margin: 0 16px 0 40px;
  }
  .headerHomePage__text_title {
    font-size: 44px;
  }
  .headerHomePage__text_subtitle {
    font-weight: 700;
    font-size: 24px;
  }
  /* Дополнительный раздел "Offer". 
  Размещено только на главной странице сайта */
  .offer {
    grid-template-columns: repeat(3, 232px);
    gap: 19px;
    padding: 19px 16px 154px 16px;
  }
  .offer__container:last-child img {
    width: 736px;
    height: 116px;
  }
  .offer__container__img {
    width: 232px;
    height: 167px;
  }
  .top-head {
    padding-left: 16px;
    padding-right: 16px;
  }
  .filter-sort {
    height: 81px;
  }
  .filter {
    top: 24px;
    left: 16px;
    padding: 0;
  }
  .sort {
    top: 24px;
    left: auto;
    right: 16px;
  }
  /* Оформление страницы "Index" */
  .productIndex-box {
    grid-template-columns: repeat(2, 360px);
    gap: 16px;
    padding: 0 16px 32px 16px;
  }
  .productIndex-button {
    padding-bottom: 64px;
  }
  /* Оформление страницы "Catalog" */
  .productCatalog-box {
    grid-template-columns: repeat(2, 360px);
    gap: 16px;
    padding: 0 16px 32px 16px;
  }
  .productCatalog-box :nth-child(9) {
    display: none;
  }
  .productCatalog__pages {
    padding-left: 0;
    padding-bottom: 63px;
  }
  /* Оформление страницы "Product" */
  .productProduct-boxTop {
    grid-template-columns: minmax(769px, 1024px);
    grid-template-rows: repeat(1, 624px);
    padding-bottom: 730px;
  }
  .productProduct-boxTop-img {
    height: 100%;
    -o-object-position: -25vw;
       object-position: -25vw;
  }
  .productProduct-boxCenter {
    width: 768px;
    height: 601px;
    top: 849px;
    left: calc((100% - 768px) / 2);
    right: calc((100% - 768px) / 2);
  }
  .productProduct-boxBottom {
    grid-template-columns: repeat(2, 360px);
    min-width: 360px;
    gap: 30px;
    padding: 0 13px 0 13px;
    padding-bottom: 128px;
  }
  .productProduct-boxBottom :nth-child(3) {
    display: none;
  }
  /* Оформление страницы "SHOPPING CART" */
  .shopping {
    width: 734px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 59px 18px 128px 16px;
    gap: 64px;
  }
  .shopping__left__box {
    width: 734px;
    margin-bottom: 62px;
  }
  .shopping__left__content {
    padding: 22px 179px 62px 31px;
  }
  .shopping__left__content-quantityBox {
    height: 25px;
    width: 44px;
    margin-left: 24px;
  }
  .shopping__left__buttons {
    gap: 48px;
    margin-top: 62px;
  }
  .shopping__left__buttons_text {
    padding: 17px 41px 16px 39px;
  }
  .shopping__right {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
  .shopping__right__shippingAddress {
    margin-left: 0;
    width: 360px;
  }
  .shopping__right__shippingAddress__button {
    min-width: 101px;
  }
  .shopping__right__shippingAddress__button_text {
    padding: 10px 14px 12px 15px;
  }
  .shopping__right__checkoutBox {
    margin-left: 0;
    margin-top: 35px;
    margin-bottom: 19px;
  }
  /* Оформление страницы "Registration" */
  .registration {
    gap: 22px;
    padding: 40px 16px 96px 16px;
  }
  .registration__right {
    min-width: 354px;
  }
  .registration__right__head {
    font-size: 16px;
    padding-bottom: 10px;
  }
  .registration__right__text {
    min-width: 300px;
    font-size: 16px;
  }
  .registration__right__li {
    padding-bottom: 8px;
  }
  .footerBox {
    flex-direction: column;
    height: 610px;
    gap: 49px;
  }
  .footer__subscribe {
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding-top: 64px;
    padding-bottom: 140px;
  }
  .footer__subscribe__right__text {
    font-size: 18px;
  }
  .footer__copyright {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 768px) {
  .box-content {
    min-width: 350px;
  }
  .header {
    margin: 0;
    padding: 18px 16px;
  }
  .header__right_profile {
    display: none;
  }
  .header__right_basket {
    display: none;
  }
  .top-head {
    flex-direction: column;
    gap: 32px;
    padding: 0;
    margin: 0;
    justify-content: center;
    height: 148px;
  }
  .filter-sort {
    height: 81px;
    min-width: 250px;
  }
  /* Дополнительный раздел "Header". 
  Оформление шапки сайта на главной странице */
  .headerHomePage {
    height: 363px;
  }
  .headerHomePage__img {
    display: none;
  }
  .headerHomePage__verticalLine {
    height: 61px;
    margin: 0 15px 0 56px;
  }
  .headerHomePage__text_title {
    font-size: 38px;
  }
  .headerHomePage__text_subtitle {
    font-size: 20px;
  }
  /* Дополнительный раздел "Offer". 
  Размещено только на главной странице сайта */
  .offer {
    grid-template-columns: repeat(1, 343px);
    gap: 32px;
    padding: 63px 16px 64px 16px;
  }
  .offer__container:last-child {
    grid-row: 4/span 1;
  }
  .offer__container:last-child img {
    width: 343px;
    height: 111px;
  }
  .offer__container__img {
    width: 344px;
    height: 249px;
  }
  .filter {
    top: 24px;
    left: 8px;
    padding: 0;
  }
  .filter__heading {
    display: none;
  }
  .sort {
    top: 24px;
    left: auto;
    right: 8px;
  }
  /* Оформление страницы "Index" */
  .productIndex-box {
    grid-template-columns: repeat(1, 359px);
    gap: 16px;
    padding: 0 8px 40px 8px;
  }
  .productIndex-button {
    padding-bottom: 96px;
  }
  .productIndex__text {
    font-weight: 400;
  }
  .productIndex__pages {
    padding-left: 0;
    padding-bottom: 64px;
  }
  /* Оформление страницы "Catalog" */
  .productCatalog-box {
    grid-template-columns: repeat(1, 359px);
    gap: 16px;
    padding: 0 8px 40px 8px;
  }
  .productCatalog__text {
    font-weight: 400;
  }
  .productCatalog__pages {
    padding-left: 0;
    padding-bottom: 64px;
  }
  /* Оформление страницы "Product" */
  .productProduct-boxTop {
    grid-template-columns: minmax(375px, 768px);
    grid-template-rows: repeat(1, 624px);
    padding-bottom: 664px;
  }
  .productProduct-boxTop-img {
    height: 624px;
    -o-object-position: -450px;
       object-position: -450px;
  }
  .productProduct-boxCenter {
    width: 375px;
    height: 600px;
    top: 849px;
    left: calc((100% - 375px) / 2);
    right: calc((100% - 375px) / 2);
  }
  .productProduct-boxCenter__title {
    margin-bottom: 31px;
  }
  .productProduct-boxCenter__text {
    width: 326px;
  }
  .productProduct-boxCenter__price {
    margin-bottom: 31px;
  }
  .productProduct-boxCenter__hr-text {
    width: 175px;
    margin-bottom: 49px;
  }
  .productProduct-boxCenter__menu {
    gap: 25px;
    margin-bottom: 65px;
  }
  .productProduct-boxCenter__menu_summary {
    display: flex;
    gap: 10px;
  }
  .productProduct-boxCenter__menu_title {
    font-size: 10px;
  }
  .productProduct-boxCenter__button {
    gap: 23px;
  }
  .productProduct-boxBottom {
    grid-template-columns: repeat(1, 360px);
    gap: 0;
    padding: 0 8px 0 8px;
    padding-bottom: 64px;
  }
  .productProduct-boxBottom :nth-last-child(3) {
    display: none;
  }
  /* Оформление страницы "SHOPPING CART" */
  .shopping {
    flex-direction: column;
    width: 358px;
    padding: 39px 8px 96px 9px;
    gap: 48px;
  }
  .shopping__left__img {
    width: 144px;
    height: 188px;
  }
  .shopping__left__box {
    width: 358px;
    height: 188px;
    box-shadow: 8px 8px 21px 0px rgba(0, 0, 0, 0.13);
    margin-bottom: 32px;
  }
  .shopping__left__content {
    padding: 14px 53px 37px 17px;
    width: 144px;
    height: 137px;
  }
  .shopping__left__content-head {
    font-size: 16px;
    padding-bottom: 25px;
  }
  .shopping__left__content-text {
    font-size: 14px;
    padding-bottom: 3px;
  }
  .shopping__left__content-quantityBox {
    width: 24px;
    height: 15px;
    margin-left: 15px;
    font-size: 10px;
  }
  .shopping__left__buttons {
    gap: 9px;
    margin-top: 30px;
  }
  .shopping__left__buttons_button {
    height: 33px;
  }
  .shopping__left__buttons_text {
    font-size: 12px;
    padding: 9px 17px 9px 18px;
  }
  .shopping__right__shippingAddress {
    margin-left: 9px;
  }
  .shopping__right__shippingAddress__button {
    max-width: 100px;
  }
  .shopping__right__shippingAddress__button_text {
    font-weight: 400;
    font-size: 11px;
    color: #575757;
    padding: 11px 20px;
    text-transform: lowercase;
  }
  .shopping__right__shippingAddress__button_text::first-letter {
    text-transform: uppercase;
  }
  .shopping__right__shippingAddress__button_text:hover {
    background-color: #F5F3F3;
  }
  .shopping__right__checkoutBox {
    margin-left: 9px;
    margin-top: 48px;
  }
  /* Оформление страницы "Registration" */
  .registration {
    flex-wrap: wrap;
    gap: 40px;
    padding: 64px 8px 100px 8px;
    justify-content: center;
  }
  .registration__right {
    row-gap: 22px;
    width: 360px;
  }
  .registration__right__head {
    padding-bottom: 10px;
  }
  .registration__right__text {
    font-size: 16px;
  }
  .footerBox {
    flex-direction: column;
    height: 610px;
    gap: 46px;
  }
  .footerBox__info {
    width: 348px;
    height: 129px;
  }
  .footer__subscribe {
    height: 550px;
    display: flex;
    flex-direction: column;
    gap: 59px;
    padding: 64px 16px 110px 16px;
  }
  .footer__subscribe__left__text {
    width: 343px;
    font-size: 18px;
  }
  .footer__subscribe__right__text {
    font-size: 14px;
  }
  .footer__subscribe__right__form_email {
    width: 245px;
    height: 47px;
  }
  .footer__subscribe__right__form_button {
    width: 96px;
    height: 47px;
  }
  .footer__copyright {
    height: 158px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding-left: 0;
    padding-right: 0;
  }
  .footer__copyright__left {
    order: 1;
    padding-left: 0;
    text-align: center;
    white-space: nowrap;
  }
  .footer__copyright__right {
    padding-right: 0;
  }
}/*# sourceMappingURL=style.css.map */